@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Vidaloka&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfcf4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.container {
    width: 1260px;
    min-width: 1080px;
    margin: 0 auto;
    padding: 0 50px;
}
body h1, h2 {
    font-family: 'Vidaloka', serif;
}
.visually-hidden {
    display: none;
}
 

/* navigation styles */
header {
    z-index: 1;
}

.main-header { 
    position: relative;   
    background-color: rgb(26, 45, 62, 0.9);
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    padding-left: 20px;
    width: 700px;
    list-style-type: none;
    
}
.site-navigation-item  a, .tel-nav {
    text-decoration: none;
    color: lightgray;    

}
.main-header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.site-navigation-item {
    padding: 0 10px;
    text-transform: uppercase;
    font-size: x-large;
    color: #a8abb0;
}
.site-navigation-item a:hover, .tel-nav:hover {
    color: #927661;
    transition: 0.3s;
}
.logo, .tel-nav {
    margin: 20px 20px 20px 0;
}

.hamburger {    
   display: none;
}

.hamburger:focus {
    outline: none;
}

/* promo styles */

.promo {
    position: relative;
    padding-bottom: 100px;
    background-color: rgb(26, 45, 62, 0.9);
    background-size: 100%;
}

.promo-img {
    width: 100%;
}
.promo-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 112%;
    top: -85px;
    left: 0px;
    background-color: rgb(18, 37, 54, 0.9);
}
.text-position {
    width: 400px;
    margin: auto auto;
}
.text-position h1 {
    margin: 0;
    margin-left: -5px;
    font-size: 5em;
    color: #fff;
}
.text-position p {
    margin: 15px 0 25px;
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
    width: 350px;
}
.text-position a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 30px;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #fba35b;
    text-decoration: none;
    color: #fff;
    width: 250px;
    height: 50px;
    text-align: center;    
}
.text-position a:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.arrow-nav {
    display: inline-block;
    position: absolute;
    right: 11%;
    top: 23%;
    transform: scale(2);
}




.promo .slides__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50px;
    width: 200px;
}
.promo .btn1, .promo .btn2, .promo .btn3, .promo .btn4 {
    cursor: pointer;
    display: inline-block;
    width: 25px;
    margin: 8px;
    border: none;
    background-color:  #fcfcf4;
    border-bottom: 3px solid #ccc;
    box-shadow: 0 0 1px 0.5px lightgray;
}
.promo .btn1 {
    border-color: rgb(33, 50, 65);
}

/* advantages styles */


.advantages ul {
    display: flex; 
    height: 700px;
    justify-content: space-between;
   
}

.advantages-item {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    list-style-type: none;
}
.advantages-item p:not(.adv-number) {
    margin: 10px 10px 10px 0;
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: 300;
}
.advantages-item h3 {
    font-size: 1.5em;
    margin: 5px 0 10px 0;
}

.down-adv {
    align-self: flex-end;
    margin-bottom: 100px;
} 

.up-adv {
    margin-top: 100px;
}

.adv-number {    
    font-family: 'Vidaloka', serif;
    font-size: 5em;
    color: #fee4cd;
}

.adv-number::before {
    content: '';
    position: absolute;
    border-right: 0.5px solid rgb(240, 237, 237);    
    top: 781px;
    height: 3600px;
}

.advantages ul:last-child::after {
    content: '';    
    border-right: 0.5px solid rgb(240, 237, 237);
    height: 3600px;    
}

/* service styles */

.service h2, .stages-of-work h2, .reviews h2 {
    display:inline-block ;
    font-size: 4em;
    margin: 10px 0 80px 0;
}

.service__parts {
    display: flex;
    justify-content: space-between;
}
.service__parts ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0 10px 0;
    list-style-type: none;
    width: 400px;
}
.service__parts li {
    width: 200px;
}

.service__parts a {
    text-decoration: none;
    font-size: 1.2em;
    color:gray;
}

.service__parts ul li:nth-child(3)  a{
    position: relative;
    font-weight: 600;
    left: 30px;
    color: #132e3f;    
}



.service__example {
    width: 824px;
}
.service__example img {
    transform: scale(0.91);
    width: auto;
    transform-origin: 0 0;
}

.service__text {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 30px 0 5px 0;    
}

.service__text h3 {
    font-family: 'Vidaloka', serif;
    font-size: 2.3em;
    font-weight: 300;
    line-height: 1.9em;
    color: #132e3f;
}
.service__text p:not(.project__number) {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5em;
    width: 500px;
}
.consultation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.consultation a {
    padding: 15px 40px 15px 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #132e3f;
    border: 2px solid #132e3f;    
}
.consultation a:hover {
    color: #295877;
    border: 2px solid #295877;
}
.consultation p {
    font-size: 1.2em;
}


/* stages-of-work */ 

.stages-of-work {
    position: relative;
}

.stages-of-work h2 {
    display:inline-block ;
    font-size: 4em;
    margin: 60px 0 0 0;
}

.stages-of-work__parts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 50px;    
}
.stages-of-work ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
}
.stages-of-work-item {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 310px;
    margin-right: 50px;
    height: 200px;
    list-style-type: none;
}
.number__list {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;   
    font-weight: 600;
    width: 20px;
    height: 20px;
    margin-right: 35px;
    padding: 10px;
    background: rgb(254, 226, 204);
    border-radius: 50%;
}

.number__list::before {
    content: '.';
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: transparent;
    background-color: rgb(254, 226, 204, 0.3);
    border: 1px solid rgb(254, 226, 204, 0.3);
    border-radius: 50%;
}
.number__list::after {
    content: '.';
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: transparent;
    background-color: rgb(254, 226, 204, 0.3);
    border: 1px solid rgb(254, 226, 204, 0.3);
    border-radius: 50%;
}


.stages__text h3 {
    font-weight: 600;
    font-size: 1.4em;
    line-height: 1.5em;
    
}
.stages__text p {
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 30px;
}


/* quik-order styles*/

.quick-order {
    display: flex;
    justify-content: space-between;
    width: 1260px;
    min-width: 1080px;    
    margin: 0 auto;
}

.quick-order__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 50px 80px 0 50px;
    background-color: rgb(18, 37, 54, 0.9);    
    z-index: 1;
}
.quick-order__form h2 {
    align-self: flex-start;
    width: 450px;
    color: #fff;
    font-size: 3.1em;
    font-weight: 600;
}
.quick-order__form p {
    display: inline-block;
    width: 450px;
    align-self: flex-start;
    line-height: 1.5em;
    font-size: 0.98em;
    color: lightgray;
    margin: 20px 0 20px 0;
}
.quick-order__form span {
    font-weight: 300;
}

.quick-order form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.quick-order form input {
    cursor: pointer;
    margin-bottom: 30px;
    width: 450px;
    height: 30px;    
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: rgb(41, 58, 73);
}
   
.quick-order img {
    width: 50%;
    z-index: 1;
}

form input:active {
    border: none;
    background-color: rgb(41, 58, 73);
    text-decoration: #ccc;
}
.quick-order-item {
    position: relative;
}

form .fa-user, form .fa-phone-alt, form .fa-envelope {
    color: #fff;
    position: absolute;
    right: 5px;
    transform: scale(1.2);
}
form .fa-phone-alt {
    top: 60px;
}
.fa-envelope {
    top: 120px;
}

.btn {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2em;
    color: #fff;
    height: 70px;
    background-color: rgb(33, 50, 65);
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgb(33, 50, 65);
}

.btn:hover {
    background-color: rgb(41, 58, 73);    
} 
.btn:active {
    transform: scale(0.95);
}


/* reviews styles */


.reviews h2 {
    position: relative;
    margin: 50px 0 50px 0;
}

.reviews__item {
    position: relative;
    display: flex;
    width: 900px;
    max-width: 1200px;
    height: 400px;
    left: -7px;
    background-color: #fff;
    box-shadow: 0 0 100px 1px lightgray;    
}

.reviews blockquote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 480px;
    padding: 50px 0 0 50px;
}

.reviews blockquote cite {
    font-style: normal;
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

.reviews blockquote p:first-of-type {
    color: #ff9b49;
    font-size: 1.2em;
    font-weight: 600;
}

.reviews blockquote p:last-of-type {
    font-size: 1.1em;
    font-weight: 100;
    line-height: 1.5em;
    margin: 10px 0 10px 0;
}

.reviews__item img {
    position: absolute;
    right: -250px;
    top: 55px;
}


.slides__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 200px;
}

.btn1, .btn2, .btn3, .btn4 {
    cursor: pointer;
    display: inline-block;
    width: 25px;
    margin: 8px;
    border: none;
    background-color:  #fcfcf4;
    border-bottom: 3px solid #ccc;
    box-shadow: 0 0 1px 0.5px lightgray;
}
.btn1 {
    border-color: rgb(33, 50, 65);
}



/* footer styles */

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 300px;
    min-width: 1280px;
    background-color: rgb(33, 50, 65);    
}
.logo-social ul {
    list-style-type: none;
}

.logo-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    width: 200px;
    height: 100px;
}
footer p {
    color: #ff9b49;
    margin: -100px auto 0 auto;
    font-size: 1.2em;
}

.social-list {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 30px;
}

.logo__footer {
    margin-bottom: 20px;
}
.social-list i {
    transform: scale(1.5);
    color: #fff;
}

.social-list i:hover {
    transform: scale(1.7);
    transition: 0.3s ease;
}



@media screen and (max-width: 960px) {

    body {
        font-size: 12px;
    }
    .container, .quick-order, footer {
        width: 768px;
        min-width: 768px;
    }
    .hamburger {
        display: none;
    }

    .site-navigation-item, .tel-nav {
        font-size: 1em;        
    }
    .site-navigation {
        width: 400px;
    }

    /* promo atyles */
 
    .promo h1 {
        font-size: 4em;
    }
    .promo-text {
        height: 120%;
    }

    .text-position {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
    }
    .text-position p {
        width: 250px;
    }
    .text-position a {
        align-self: flex-start;
        width: 150px;
        height: 30px;
        font-size: 1em;
        padding-left: 10px;
    }

    .promo-img {
        width: 665px;
        height: 323px;
    }
    .arrow-nav {
        transform: scale(1.5);
        right: 6%;
    }
    .promo .slides__btn {
        transform: scale(0.7);
    }


    /* line styles */

    .adv-number::before {
        content: '';
        position: absolute;
        border-right: 0.5px solid rgb(240, 237, 237);    
        top: 507px;
        height: 4050px;
    }
    
    .advantages ul:last-child::after {
        content: '';    
        border-right: 0.5px solid rgb(240, 237, 237);
        top: 200px;
        height: 4200px;    
    }


    /* service styles */

    .service h2 {
        position: relative;
    }
    
    .service-item {        
        margin-left: 2px;
        z-index: 1;
    }


    .service__example img {
        width: 500px;
        height: 222px;
        margin-left: 20px;
    }

    .service__text {
        width: 450px;
        margin-left: 18px;
    }
    .text__info p:not(.project__number) {
        width: 280px;
    }
    .text__info h3 {
        width: 280px;
    }

    .consultation {
        width: 50px;
        justify-content: space-between;
    }
    .consultation a {
        padding: 10px 20px 10px 20px;

    }


    /* stages-of-work */
    .stages-of-work {
        margin-bottom: 50px;
    }

    .stages-of-work-item {
        width: 250px;
    }
}
