@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Vidaloka&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fcfcf4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;      
}
/* .advantages {
    margin-top: 83px;
} */
a {
    text-decoration: none;
    color: white;
}
.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
        90deg,
        lightgray 0.1%,
        #fcfcf4 0.1% 25%,
        lightgray 25.1%,
        #fcfcf4 25.1% 50%,
        lightgray 50.1%,
        #fcfcf4 50.1% 75%,
        lightgray 75.1%,
        #fcfcf4 75.1% 99.8%,
        lightgray 100.2%
        );
}
.container__header {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}
 h1, h2 {
    font-family: 'Vidaloka', serif;
    transition: all 0.6s ease;
}
.visually-hidden, .hidden_1440, .promo-img-crop{
    display: none;
}

.scroll-up {
    position: fixed;
    transform: scale(4);
    right: 70px;
    bottom: 50px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    z-index: 10;
}
.scroll-up--active {
    visibility: visible;
    opacity: 1;
}
.scroll-up__link {
    color: #fba35b;
    text-decoration: none;
}
.scroll-up__link:hover {
    filter: brightness(110%)
}

.zIndex {
    z-index: 1;
}
 

/* navigation styles */
.main-header {
    width: 100%;
    position: relative;
    background-image: linear-gradient(
        90deg,
        rgba(18, 37, 54) 49.8%,
        rgb(24, 43, 60) 50.1%
    );     
}
.main-header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style-type: none;
    transition: all 0.6s ease;
}
.site-navigation-item {
    display: flex;
    padding: 0 22px;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #a8abb0;
}
.site-navigation-item  a, .tel-nav {
    color: lightgray;
    transition: all 0.3s ease;

}
.site-navigation-item a:hover, .tel-nav:hover {
    color: #927661;
    transition: 0.3s;
}
.logo {
    margin: 20px 20px 20px 0;
}
.telephone {
    margin-left: auto;
}
.fa-phone-alt {
    padding: 5px;
}
.hamburger {
    position: relative;
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 15px;
    color: #fff;
    transform: scale(1.9);
    z-index: 2;    
}
.hamburger:focus {
    outline: none;
}

.fixed-header {
    position: fixed;
    z-index: 10;
}


/* Hero Slider*/

.hero-slider{
    max-width: 100%;
}
.hero-slider .item img {
    width: 100%;
    height: 100%;
    border: none ;
    box-shadow: none ;
    object-fit: cover;
    z-index: -1;
}

.slider-dots {
    position: absolute;
    right: 10%;
}
.slider-dots_item, .slider-dots_reviews-item{
    display: inline-block;
    background-color: #ddd;
    height: 5px;
    width: 20px;
    margin: 0 5px;
    transition: all 0.6s ease;
    cursor: pointer;
}
.active,
.slider-dots_reviews-item:hover {
    background-color: rgb(32, 61, 87);
}
.slider-dots_item:hover {
    background-color: rgb(39, 90, 134);
} 
.hero-slider .item{
    height: 50em;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.8s;
    animation-name: fade;
    animation-duration: 0.8s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}



/* promo styles */

.hero {
    position: relative;
    padding-bottom: 5%;
    background-image: linear-gradient(
        90deg,
        rgba(18, 37, 54) 49.8%,
        rgb(24, 43, 60) 50.1%
    );    
}
.hero-desc__img {
    width: 100%;
    box-shadow: 0 3px 0 0 rgb(24, 43, 60);
}
.hero-desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45%;
    max-width: 720px;
    height: 96.3%;
    background-color: rgb(18, 37, 54, 0.95);
    transition: all 0.6s ease;
}
.hero-desc__text {
    width: 70%;
    margin: auto auto;
    transition: all 0.6s ease;
}
.hero-desc__text h1 {
    font-size: 5em;
    color: #fff;
    margin: 0;
    margin-left: -5px;
    transition: all 0.6s ease;
}
.hero-desc__text p {
    font-size: 1em;
    color: #fff;
    line-height: 1.5em;
    width: 350px;
    margin: 15px 0 25px;
    transition: all 0.6s ease;
}
.hero-desc__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #a8abb0;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fba35b;
    width: 250px;
    height: 50px;
    border: none;
    transition: all 0.6s ease;
    cursor: pointer;
}
 .hero-desc__btn:hover {
    background-color: #f7b37d;
    transition: 0.3s;
}
.hero-desc__btn a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
      
}

/* advantages styles */

.advantages ul {
    display: flex; 
    justify-content: space-between;
    padding: 100px 0;
    height: 700px;
    transition: all 0.6s ease;
}
.advantages li:nth-child(2n) {
    padding-top: 200px;
}
.advantages-item {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    list-style-type: none;
}
.advantages-item p:not(.adv-number) {
    margin: 10px 10px 10px 0;
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: 300;
}
.advantages-item h3 {
    font-size: 1.5em;
    margin: 5px 0 10px 0;
}
.adv-number {    
    font-family: 'Vidaloka', serif;
    font-size: 5em;
    color: #fee4cd;
}

/* service styles */

.service h2, .stages-of-work h2, .reviews h2 {
    display: inline-block ;
    font-size: 4em;
    margin: 10px 0 80px 0;
}

.service__parts {
    display: flex;
    justify-content: space-between;
    height: 45em;
}
.service-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0 10px 0;
    list-style-type: none;    
}
.service__parts li {
    width: 200px;
}

.service-item  {
    position: relative;
    text-decoration: none;
    font-size: 1.2em;
    color:gray;
    cursor: pointer;
    transition: all 0.5s ease;
}
.service-item:hover {
    color: #334c5c;
}

.service-item--active {
    position: relative;
    font-weight: 600;
    color: #132e3f;    
    transform: translateX(30px);
    transition: all 0.5s ease;
    cursor: auto;
}

.service-example--hidden {
    display: none;
}
.service-example {
    width: 75%;
    transition: all 0.6s ease;
}
.service-example img {
    max-height: 400px;    
    width: 100%;
    transform: scale(0.91);
    transform-origin: 0 0;
    object-fit: cover;
}
.service-example__text {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 30px 0 5px 0;
}
.service-example__text h3 {
    font-family: 'Vidaloka', serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.9em;
    color: #132e3f;
}
.service-example__text__info p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5em;
    width: 500px;
}
.consultation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.consultation a {
    font-weight: 600;
    color: #132e3f;
    padding: 15px 40px 15px 40px;
    text-transform: uppercase;
    border: 2px solid #132e3f;
    transition: all 0.3s ease;    
}
.consultation a:hover {
    color: #295877;
    background-color: #e2f0fa;
    border: 2px solid #295877;
}
.consultation p {
    font-size: 1.2em;
}


/* stages-of-work */ 

.stages-of-work {
    position: relative;
}

.stages-of-work h2 {
    display:inline-block ;
    font-size: 4em;
    margin: 60px 0 0 0;
}
.stages-of-work__parts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 50px;
    transition: all 0.6s ease;    
}
.stages-of-work ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    width: 90%;
}
.stages-of-work__parts__item {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 40px;
    margin-right: 40px;
    width: 260px;
    height: 200px;
    list-style-type: none;
}
.number__list {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;   
    font-weight: 600;
    width: 20px;
    height: 20px;
    margin-right: 35px;
    padding: 10px;
    background: rgb(254, 226, 204);
    border-radius: 50%;
}
.number__list::before {
    content: '.';
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: transparent;
    background-color: rgb(254, 226, 204, 0.3);
    border: 1px solid rgb(254, 226, 204, 0.3);
    border-radius: 50%;
}
.number__list::after {
    content: '.';
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: transparent;
    background-color: rgb(254, 226, 204, 0.3);
    border: 1px solid rgb(254, 226, 204, 0.3);
    border-radius: 50%;
}
.stages__text h3 {
    font-weight: 600;
    font-size: 1.4em;
    line-height: 1.5em;
    
}
.stages__text p {
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 30px;
}


/* quik-order styles*/

.quick-order .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 0.6s ease;
}
.quick-order__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(18, 37, 54, 0.9);    
    width: 50%;
    min-width: 390px;
    padding: 50px 80px 0 50px;
    transition: all 0.6s ease;
}
.quick-order__form h2 {
    align-self: flex-start;
    width: 100%;
    color: #fff;
    font-size: 3.1em;
    font-weight: 600;
}
.quick-order__form p {
    display: inline-block;
    width: auto;
    align-self: flex-start;
    line-height: 1.5em;
    font-size: 0.98em;
    color: lightgray;
    margin: 20px 0 20px 0;
}
.quick-order__form span {
    font-weight: 300;
}

.quick-order__form form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}
.quick-order__form input {
    cursor: pointer;
    margin-bottom: 30px;
    width: 100%;
    height: 30px;    
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: rgb(41, 58, 73);
}

form input:active {
    border: none;
    background-color: rgb(41, 58, 73);
    text-decoration: #ccc;
}

input:invalid {
    border-color: orange;
}
input:not(:focus):invalid {
    border-color: white;
}
input {
    color: lightgray;
}
.quick-order__img {
    width: 50%;
    object-fit: cover;
}
.quick-order__form__item {
    position: relative;
    transition: all 0.6s ease;
}

form .fa-user, form .fa-phone-alt, form .fa-envelope {
    color: #fff;
    position: absolute;
    right: 5px;
    transform: scale(1.2);
}
form .fa-phone-alt {
    top: 60px;
}
.fa-envelope {
    top: 120px;
}
.btn {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2em;
    color: #fff;
    height: 70px;
    background-color: rgb(33, 50, 65);
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgb(33, 50, 65);
}
.btn:hover {
    background-color: rgb(41, 58, 73);    
} 
.btn:active {
    transform: scale(0.95);
}


/* reviews styles */

.reviews .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.reviews-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.reviews h2 {
    position: relative;
    align-self: flex-start;
    margin: 50px 0 50px 0;
}

.reviews__item {
    position: relative;
    display: flex;
    width: 70%;
    height: 400px;
    left: -100px;
    background-color: #fff;
    box-shadow: 0 0 30px 1px lightgray;
    transition: all 0.4s ease;    
}
.reviews blockquote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding: 50px 0 0 50px;
}
.reviews blockquote cite {
    font-style: normal;
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0 10px 0;
}
.reviews blockquote p:first-of-type {
    color: #ff9b49;
    font-size: 1.2em;
    font-weight: 600;
}
.reviews blockquote p:last-of-type {
    font-size: 1.1em;
    font-weight: 100;
    line-height: 1.5em;
    margin: 10px 0 10px 0;
}
.reviews__item img {
    position: absolute;
    right: -250px;
    top: 55px;
    
    object-fit: cover;
}


/* footer styles */


 .container__footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 200px;
    background-color: rgb(33, 50, 65);
}
.logo-social ul {
    list-style-type: none;
}
.logo-social {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    margin-top: 50px;
    left: -25px;
}
footer p {
    margin: 10%;
    color: #ff9b49;
    font-size: 1.2em;
}
.social-list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 200px;
    height: 30px;
}
.logo__footer {
    margin-bottom: 20px;
}
.social-list i {
    transform: scale(1.5);
    color: #fff;
    transition: all 0.6s ease;
}
.social-list i:hover {
    transform: scale(180%);
    transition: all 0.6s ease;}


@media (min-width: 1800px) {
    .slider-dots {        
        right: 23%;
    }
    }

@media (max-width: 1055px) {
    
    .main-header {        
        background-image: linear-gradient(
            90deg,
            rgba(18, 37, 54) 64.8%,
            rgb(24, 43, 60) 65.1%
        );
        transition: all 0.6s ease; 
    }
    .main-header-nav {
        flex-wrap: wrap;
        transition: all 0.3s ease;

    }
    .site-navigation {
        display: none;
    }
    .hamburger {
        display: block;
        background: transparent;
        cursor: pointer;
    }
    .hero {        
        background-image: linear-gradient(
            90deg,
            rgba(18, 37, 54) 64.8%,
            rgb(24, 43, 60) 65.1%
        );
    }
    .hero-desc {
        width: 60%;
    }
    
    .site-navigation.show {
        display: flex;
    }

    .advantages ul {
        flex-wrap: wrap;
        height: 1100px;
    }
    .advantages li {
        width: 50%;
        padding-bottom: 5%;
        
    }

    .service-example {
        width: 50%;
        margin-left: 30px;
    }
    .service-example__text {
        flex-direction: column;
        width: 80%;
    }
    .service-example__text__info p{
        width: 350px;
    }
    .service-example__text__info h3 {
        line-height: 1.3em;
    }
    .consultation {
        flex-direction: row;
        padding-top: 10%;
        min-width: 350px;
    }

}

@media (max-width: 935px) {

    .tel-nav__hidden {
        display: none;
    }

    .reviews__item {
        margin-top: 10%;
        padding-top: 15%;
        width: 60%;
        height: 50%;
        left: 0;
    }
    .reviews__item blockquote {
        padding: 15% 20px 20px 20px;        
    }
    .reviews__item img {
        justify-items: flex-end;
        align-self: center;
        width: 50%;
        top: -55px;
        right: auto;
        left: 25%;        
    }


}

@media (max-width: 805px){    

    .site-navigation.show {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 420px;
        top: 100%;
        right: 0;
        background: rgb(18, 37, 54);
        transition: all 0.6s ease;
        z-index: 1;        
        
    }
    .site-navigation-item, .telephone {
        padding: 5px 0;
    }
    .tel-nav__hidden, .telephone {
        display: inline-block;
        margin: 0;
    }
    .main-header, .hero {
        background: rgba(18, 37, 54);
    } 
    .service__parts li {
        width: 115px;
    }
    .service__parts ul li:nth-child(3) a {
        left: 10px;
    } 
    .service-example__text p {
        width: 100%;
    }
    .consultation {
        min-width: 150px;
    }
     .consultation p{
        width: auto;
    }
    .consultation a {
        width: 140px;
        height: 37px;
        font-size: 12px;
        padding: 10px 20px;
    }

    .quick-order__form {
        width: 100%;
    }
    
    
}

@media (max-width: 720px){

    
    .hero-desc__text h1 {
        font-size: xxx-large;
        margin: 0;
    }
    .hero-desc__text p {
        width: 100%;        
    }
    
    .hero-desc__btn {
        font-size: 1em;
        width: 190px;
        height: 40px;
    }
    .quick-order__img {
        display: none;
    }
    .logo-social {
        left: 0;
    }
}
@media (max-width: 550px){
    
    .container {
        background: #fcfcf4;
    }

    .site-navigation.show {
        height: 280px;
    }

    .service h2, .stages-of-work h2, .reviews h2 {
        font-size: 3em;
    }
    .service__parts {
        height: 50em;
    }

    .slider-dots {
        position: absolute;
        right: 10%;
    }
    .slider-dots_item, .slider-dots_reviews-item{
        height: 25px;
        width: 25px;
        margin: 0 3px;
        border-radius: 50%;
        
    }
    
    .hero-desc__text h1 {
        font-size: xx-large;        
    }
    .hero-desc__text p {
        font-size: 12px;        
    }
    .hero-desc__btn {
        font-size: 0.8em;
        width: 150px;
        height: 30px;
    }

    .hero-slider, .slider-dots {
        display: none;
    }

    .hero {
        height: 500px;
    }

    .project__number {
        display: none;
    }

    .advantages {
        padding-bottom: 70px;
    }

    .reviews__item {
        width: 90%;
        margin: 20px auto;
    }

    .logo-social {
        width: 125px;
    }
    .social-list {
        width: 150px;
    }
    .container__footer p{
        align-self: flex-end;
        font-size: 1em;
        padding-bottom: 40px;        
    }    
    .container__footer p:last-of-type {
        position: relative;
        left: 0%;
    }
}


@media (max-width: 375px) { 
    body {
        font-size: 0.7em;
    }

    .scroll-up {
        right: 40px;
        bottom: 35px;
        z-index: 10;
    }
    
    .site-navigation.show {
        height: 300px;
    }    

    .main-header, .hero {
        background: rgba(18, 37, 54);
    }    
    
    .hero-desc__text p {
        width: 200%;        
    }
    .hero-desc__img {
        display: none;
    }    

    .advantages {
        padding-bottom: 0;
    }
    .advantages ul {
        padding-top: 30px;        
    }

    .service {
        padding-top: 0;
    }
    .service h2 {
        margin-bottom: 1.5em;
    }
    .service-example__text {
        margin: 0;
    }
    .service-example__text__info h3 {
        margin-bottom: 10px;
    }
    .consultation {
        min-width: 100px;
    }
    .consultation a {
        font-size: 0.8em;
        width: 120px;
        height: 30px;
    }
    .stages-of-work__parts__item {
        width: 230px;
    }

    .quick-order__form {
        min-width: 100%;
        padding: 50px;
    }    
    footer p {
        margin: 5%;
    }
}

